:root {
  --clr-primary-200: #f3eed9;
  --clr-primary-400: red;

  --clr-neutral-100: #fff;
  --clr-neutral-900: #222c2a;

  --ff-primary: "Roboto", sans-serif;
  --ff-accent: "Playfair Display", serif;

  --duration: 20s;
  --delay: 0s;
  --loops: infinite;
  --direction: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  font-weight: 400;
  font-size: 1.3125rem;
  line-height: 1.6;
  /* background-image: url("abc"); */
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

h1,
h2,
h3 {
  color: var(--clr-primary-400);
  font-family: var(--ff-accent);
  font-weight: 900;
  line-height: 1;
}

h2,
h3,
p {
  margin-bottom: 1em;
}

img {
  display: block;
  max-width: 100%;
}

.text-center {
  text-align: center;
}

header,
section {
  padding: 4rem 0;
  @media (min-width: 40em) {
    header,
    section {
      padding: 7rem 0;
    }
  }
}

.container {
  margin-inline: auto;
  width: min(90%, 70.5rem);
}

.split {
  display: flex;
  flex-direction: column;
}

@media (min-width: 60em) {
  .split {
    flex-direction: row;
    /* flex-wrap: nowrap; */
  }

  .split > * {
    flex-basis: 100%;
  }

  .split > * + * {
    margin-left: 2em;
  }
}

.container--narrow {
  max-width: 34rem;
}

.bg-light {
  background-color: var(--clr-primary-200);
}

.bg-primary {
  color: var(--clr-neutral-100);
  background-color: var(--clr-primary-400);
}

.bg-dark {
  color: var(--clr-neutral-100);
  background-color: var(--clr-neutral-900);
}

.bg-primary h2,
.bg-dark h2 {
  color: var(--clr-primary-200);
}

.bg-dark h3 {
  color: var(--clr-primary-400);
}

.color-dark {
  color: var(--clr-neutral-900);
  font-size: 1rem;
}

.max-height {
  height: 100vh;
}

.grayscale {
  filter: grayscale(90);
}

.margin-t {
  margin-top: 0.25em
}

.padding-a {
  padding: 0.5em
}

.radius {
  border-radius: 5%;
}

#Contact{
  z-index: 99;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  /* text-transform: uppercase; */
  background-color: var(--clr-primary-200);
  border-bottom: 2px solid #000;
  padding: 1px 0 4px 0;
  /* font-style: italic; */
  width: 100%;
  height: 36px;
  display: flex;
  justify-content: flex-start;
}

#Loading{
  /* text-transform: uppercase; */
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  padding: 1px 0 4px 0;
  /* font-style: italic; */
  width: 100%;
  height: 36px;
  display: flex;
  justify-content: flex-start;
  color: var(--clr-primary-400);
  background-color: var(--clr-neutral-900);
  font-family: var(--ff-accent);
}


.marquee {
  /* position: absolute; */
  display: block;
  /* margin: auto auto; */
  /* white-space: nowrap; */
  /* overflow: hidden; */
  /* min-width: 100%; */
  /* height: 100%; */
}

.marquee span {
  display: inline-block;
  min-width: 100%;
  height: 100%;
  text-align: center;
  white-space: nowrap;
  line-height: 20px;
  font-size: 16px;
  /* overflow: hidden; */
  animation: move-rtl 20s linear infinite;
}

.marquee a {
    color: var(--clr-neutral-900);
    text-decoration: none;
}

@keyframes move-rtl {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-100%);
  }
}


.card {
  /* background-color:  var(--clr-primary-200);; */
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
}

.card-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.card-content {
  /* Styles pour le contenu principal */
}

.card-description {
  font-size: 14px;
  color:  var(--clr-neutral-900);;
}

/* Styles pour la responsivité */
@media (min-width: 768px) {
  /* Styles lorsque la taille de l'écran est supérieure ou égale à 768px */
  .card {
    /* Augmente la taille de la carte si l'espace est disponible */
  }
}

@media (max-width: 767px) {
  /* Styles lorsque la taille de l'écran est inférieure à 768px */
  .card {
    /* Réduit la taille de la carte pour s'adapter à un écran plus petit */
  }
}


.video-container {
  width: 320px; /* Largeur souhaitée de la vidéo */
  height: 240px; /* Hauteur souhaitée de la vidéo */
}

.video-content {
  width: 100%;
}